<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'log' || @model == 'tag' %>
	<h3>Logs search for "<%= @content %>"</h3>
  <%= render 'public/logs/index', logs: @records %>
<% end %>