<div class="container-fluid text-center py-5 bg-dark">
  <div class="row justify-content-center mx-auto bg-image3 pt-5 w-75 h-60" style="background-size: cover; background-position: center;">
    <div class="col-md-9 text-center">
      <div class="card border-0 p-5 bg-transparent">
        <h1 class="display-3 font-weight-bold text-light text-shadow mb-4" style="font-family: 'Roboto', sans-serif;">～Log Travel～</h1>
        <h2 class="display-4 font-weight-light text-light text-shadow mb-5" style="font-family: 'Arial', sans-serif;">旅の記録（ログ）をレビューにしませんか？</h2>
        <p class="lead text-light mb-4" style="font-size: 1.25rem;">あなたの旅の思い出を、レビューとして残し、他の人と共有しましょう。</p>
      </div>
    </div>
  </div>
</div>

